h1 {
  color: blue;
}
p {
  font-size: 16px;
}
span {
  font-size: 12px;
  color: #222;
  font-weight: 600;
  background: pink;
}
.swiper {
  overflow: hidden;
  .swiper-slide {
    padding: 20px 0;
    background: #eee;
    &:nth-child(odd) {
      background: yellowgreen;
    }
  }
}